<h2>Contact Form</h2>

<form method="POST">
  <input type="text" name="name" placeholder="Enter Name" required>
  <br><br>
  
  <input type="email" name="email" placeholder="Enter Email" required>
  <br><br>

  <textarea name="message" placeholder="Enter Message"></textarea>
  <br><br>

  <button type="submit">Submit</button>
</form>